*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
 
}

#main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#help{
    position: relative;
    top: 200px;
    left: 200px;
    width: 500px;
}

h1{
    font-size: 55px;
    font-weight: bolder;
    text-transform: capitalize;
    color: rgb(66, 103, 178);
    margin: 0;
    padding: 5px;
}

p{
    font-size: 25px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

#code{
    width: 440px;
    margin: 0px 780px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1)
    0 6px 8px rgba(0, 0 ,0, 0.1);
    border-radius: 10px;
}

#code .talha input{
    width: 350px;
    height: 35px;
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.431);
    border-radius: 5px;
    margin: 18px 0;
    font-size: 18px;
    padding: 6px 15px;
    outline: none;
    margin-top: -5px;
}



#code .rehman{
    margin: 12px 0;
}

#code .rehman button{
    color: #fff;
    border: 1px solid #1877f2;
    background-color: #1877f2;
    border-radius: 6px;
    width: 350px;
    height: 50px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-weight: bolder;
}

#code .powder{
    margin: 11px 0;
}

#code .powder a{
    font-weight: 500;
    font-size: 14px;
}

#code .search{
    margin: 20px 0;
}

#code .search button{
    color: #fff;
    border: 1px solid  #32CD32;
    background-color: #32CD32;
    border-radius: 6px;
    width: 350px;
    height: 50px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-weight: bolder;
}

.extra p.para{
    font-size: 15px;
    font-weight: normal;
}

.alert h1{
    color: black;
    font-size: 2em;
    text-align: left;
}

.quick {
    font-size: small;
    text-align: left;
    color: #606770;
    margin-left: 10px;
}

.req input{
    height: 35px;
    width: 179px;
    border: 1px solid rgba(128, 128, 128, 0.431);
    border-radius: 5px;
}


.linux p{
    color: gray;
    text-align: left;
    font-size: small;
    margin-left: 28px;
}

.select {
    text-align: left;

    margin-left: 30px;
    width: 84px;
    
    
}

#standard-select{
   width: 90px;
   height: 30px;

}

.select1{
    margin-left: -15px;
    margin-top: -29.5px;
    
}


#standard-select1{
    width: 97px;
    height: 30px;

    margin-bottom: 40px;
    
 }

 .select2{
    margin-left: 230px;
    margin-top: -69px;

 }

 #standard-select2{
    width: 97px;
    height: 30px;
    
 }

 #main1{
    margin-left: -270px;
    margin-top: 10px;
    
 }

 #main2{
    margin-left: -50px;
    margin-top: -17px;
 }

 #main3{
    margin-left: 215px;
    margin-top: -17px;
    
}

#foot1{
    font-size: 11px;
    margin-left: 16px;
}

#foot2{
    font-size: 11px;
    margin-left: -210px;
   margin-top: 5px;
}

#foot3{
    font-size: 11px;
}

#foot4{
    font-size: 11px;
}